.playerStatsDiv {
  width: 100%;
  text-align: center;
}
.playerStatsDiv p {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 5px;
}
.levelBar,
.healthBar {
  margin: 0 auto;
  width: 60%;
  background-color: rgb(226, 208, 191);
  height: 25px;
}
.levelProgress {
  height: 100%;
  background-color: rgb(136, 212, 136);
}
.healthProgress {
  height: 100%;
  background-color: rgb(212, 136, 136);
}
.characterRemainingAbilities{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  gap:5px;
}
.characterRemainingAbilities:hover{
  cursor: pointer;
}
.characterRemainingAbilities img{
  width: 50px;
}
.full{
  color: #33ad03;
  font-family: "Pixelify Sans", sans-serif;
}
.half{
  color: #d88406;
  font-family: "Pixelify Sans", sans-serif;
}
.empty{
  color: #ad0303;
  font-family: "Pixelify Sans", sans-serif;
}
